<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Product Manager</title>
</head>
<body>
<div align="center">	
	<div lang="en" th:replace="link"> </div>
	<table border="1" cellpadding="10">
		<thead>
			<tr>
				<th>Product ID</th>
				<th>Product Name</th>
				<th>Manufacturer</th>
				<th>MRP</th>
				
				<th sec:authorize="hasRole('ROLE_ADMIN')">Actions</th>				
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="product : ${listProducts}">
				<td th:text="${product.id}">Product ID</td>
				<td th:text="${product.productName}">Product Name</td>
				<td th:text="${product.manufacturer}">Manufacturer</td>
				<td th:text="${product.MRP}">MRP</td>
				<td sec:authorize="hasRole('ROLE_ADMIN')">
					<a th:href="@{'/product/edit/' + ${product.id}}">Edit</a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a th:href="@{'/product/delete/' + ${product.id}}">Delete</a>
				</td>
			</tr>
		</tbody>
		<a href="/new">Create New Product</a>
	</table>
</div>
</body>
</html>